<h1> Admin Menu </h1>
<ol>
	<li><%= link_to "Main Menu", '/' %></li>
	<li><%= link_to "Admin User Management", admin_user_management_path %></li>
	<li><%= link_to "Admin Menu Option 2", admin_menu_option_2_path %></li>
</ol>