<table class="scaffold-table">
  <%= render partial: 'user_headings', :locals => { :user => @user } %>
  <%= render partial: 'user_details', :locals => { :user => @user } %>
</table>



<h3>To link other accounts with this one:</h3>
<ul>
<%- ['facebook','google_oauth2'].each do |provider| %>
    <li><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(:user, provider) %></li>
<% end -%>
</ul>


<% if can? :manage, User %>
    <li><%= link_to 'Manage Users', users_path %></li>
<% end %>