<h1> Main Menu </h1>
<ol>
	<li><%= link_to "Student Menu", student_index_path %></li>
	<li><%= link_to "Instructor Menu", instructor_index_path %></li>
    <li><%= link_to "Admin Menu", admin_index_path %></li>
</ol>