<h1> Instructor Menu </h1>
<ol>
	<li><%= link_to "Main Menu", '/' %></li>
	<li><%= link_to "Instructor Menu Option 1", instructor_menu_option_1_path %></li>
	<li><%= link_to "Instructor Menu Option 2", instructor_menu_option_2_path %></li>
</ol>